@import '../../colors/colors';

$shadow-text: 0 0 1px #000000;
$border: 1px solid #dd43dd;

/* 
  Переменные из color.scss

  $text-color: #EEEEE2;
  $background-color: #CF6254;
  $gold-color: #ffd700; 
*/

@mixin header-text-style() {
  font-family: "Gilroy-Bold";
  font-size: 3.3rem;
  text-align: center;
  text-shadow: $shadow-text;
}

@mixin robot-text-style {
  font-family: "Roboto";
  text-align: center;
}

@font-face {
  font-family: "Gilroy-Bold";
  font-style: normal;
  font-weight: 400;
  src: local("Gilroy-Bold"),
       url("../../assets/fonts/FontsFree-Net-Gilroy-Bold.ttf") format("ttf"),
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"),
       url("../../assets/fonts/Roboto-Thin.ttf") format("ttf"),
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} 

::-webkit-scrollbar {
  width: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
}

.container {
  margin: 0 200px;
  height: 100%;
}

.header {
  height: 120px;
  z-index: 0;
}

.header_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}

.logo {
  display: flex;
  align-items: center;
}

.link_logo {
  font-size: 2.2rem;
  font-family: "Gilroy-Bold";
  letter-spacing: 2px;
  border-bottom: 1px solid $gold-color;
  text-shadow: $shadow-text;
}

.nav {
  display: flex;
  align-items: center;
}

.ul_nav {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.li_nav {
  padding: 0 20px;
  text-shadow: $shadow-text;
}

.link_nav {
  text-decoration: none;
  color: $text-color;
  font-weight: 800;
}

.registration {
  display: flex;
  align-items: center;
}

.link_nav_reg {
  font-family: 'Roboto';
  letter-spacing: 1px;
  font-size: 1.2rem;
}

.link_reg {
  border: 1px solid $gold-color;
  border-radius: 10px;
  padding: 10px;
  font-size: 1.3rem;
  text-shadow: $shadow-text;
}

.link_nav:hover {
  color: #ffffff;
}

.link_nav:active {
  color: $gold-color;
  transform: scale(1.1);
}

.background_img {
  display: flex;
  background: url('../../assets/img/1.jpg') no-repeat center;
  background-size: cover;
  margin-top: -120px;
  height: 900px;
}

.back_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

.welcome {
  @include header-text-style;
  // margin-top: 600px;
  color: $text-color;
}

.ourteam_anchor {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.ourteam_logo {
  font-family: "Gilroy-Bold";
  font-size: 2rem;
  color: $text-color2;
}

.ourteam_img {
  transition: 0.5s;
}

.ourteam_img:hover {
  transform: scale(1.2);
}

.burger {
  position: absolute;
}

.video {
  background-color: $background-color2;
}

.video_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
}

.video_header {
  @include header-text-style;
  color: $text-color2;
}

.video_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 800px;
  width: 100%;
  max-width: 1200px;
  margin-top: 100px;
}

.video_source {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
    iframe {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
  }
}

.about {
  background-color: $background-color2;
}

.about_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
}

.about_header {
  @include header-text-style;
  color: $text-color2;
  padding-bottom: 100px;
} 

.about_us {
  display: flex;
  flex-direction: row;
  flex-grow: 50px;
  gap: 100px;
}

.card {
  width: 400px;
  height: 600px;
  overflow: hidden;
  // border: 1px solid #000000;
  border-radius: 7px;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.2), 1px 1px 3px 1px rgba(0, 0, 0, 0.3);
}

.card:hover { 

  box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.2), 1px 1px 5px 5px rgba(0, 0, 0, 0.3); 
}

.photo {
  height: 50%;
}

.text_about {
  height: 50%;
}

.photo1 {
  background: url('../../assets/img/photo1.jpeg') no-repeat center;
  background-size: cover;
}

.photo2 {
  background: url('../../assets/img/photo2.jpeg') no-repeat center;
  background-size: cover;
}

.photo3 {
  background: url('../../assets/img/photo3.jpeg') no-repeat center;
  background-size: cover;
}

.about_name {
  @include header-text-style;
  color: $text-color2;
  letter-spacing: 2px;
}

.about_todo {
  padding: 10px 15px;
}

.about_p {
  color: $text-color2;
  font-family: "Roboto";
  font-size: 1.5rem;
  line-height: 30px;
}

.gitname_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px
}

.git_img {
  width: 100px;
  height: 60px;
  transition: 0.5s;
}

.git_img:hover {
  transform: scale(1.3);
}

.footer {
  background-color: $background-color;
  padding: 30px 0;
}

.rslogo_img {
    height: 40px;
    width: 100px;
    transition: 0.5s;
  }
  
  .rslogo_img:hover {
    transform: scale(1.5);
  }

.footer_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.our_repo {
  display: flex;
  align-items: center;
}

.ourrepo_img {
  transition: 0.5s;
}

.ourrepo_img:hover {
  transform: scale(1.3);
}

.ourrepo_p {
  font-family: "Roboto";
  font-size: 1.2rem;
  text-transform: uppercase;
}

.year {
  font-family: "Roboto";
  font-size: 1.3rem;
}

@media screen and (min-width: 1280px) and (max-width: 1460px) {
  .container {
    margin: 0 100px;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1279px) {
  .container {
    margin: 0 40px;
  }

  .link_nav_reg {
    font-size: 1.1rem;
  }
  .link_reg {
    font-size: 1.2rem;
  }
  .li_nav {
    padding: 0 10px;
  }
}

@media screen and (min-width: 800px) and (max-width: 999px) {
  .container {
    margin: 0 20px;
  }
  .link_logo {
    font-size: 1.9rem;
  }
  .link_nav_reg {
    font-size: 1rem;
  }
  .link_reg {
    font-size: 1rem;
  }
  .li_nav {
    padding: 0 5px;
  }
}

@media screen and (max-width: 799px) {
  .container {
    margin: 0 20px;
  }
  .link_logo {
    font-size: 1.8rem;
  }

  .nav {
    display: none;
  }

  .link_reg {
    font-size: 1rem;
  }
  .li_nav {
    padding: 0 5px;
  }
  .welcome {
    font-size: 2rem;
    letter-spacing: 1px;
  }
  .burger {
    display: flex;
    align-items: center;
  }

  .burger_menu {
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .band {
    display: block;
    width: 40px;
    height: 3px;
    margin: 10px auto;
    background-color: #ffffff;
    transition: 0.3s;
  }

  .popup {
    display: flex;
    position: fixed;
    top: 100px;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: 2;
    transition: 0.3s;
  }

  .popup.open {
    left: 0;
  }

  .ul_nav {
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 100%;
    padding: 50px 0;
    padding-bottom: 150px;
    background-color: #CF6254;
    overflow: auto;
  }
  
  .ul_nav > li {
    padding: 20px 0;
  }

  .ul_nav > li > a {
    font-size: 3rem;
  }

  .active .band:nth-child(2){
    opacity: 0;
  }

  .active .band:nth-child(1){
    transform: translateY(13px) rotate(45deg);
  }

  .active .band:nth-child(3){
    transform: translateY(-13px) rotate(-45deg);
  }

  body.dontscroll {
    overflow: hidden;
  }

  .burger {
    position: relative;
  }

}

@media screen and (max-width: 499px) {
  .ul_nav > li > a {
    font-size: 2rem;
  }

  .burger_menu {
    padding: 0px 0px;
    cursor: pointer;
  }

  .link_logo {
    font-size: 1.2rem;
  }
}

