@import '../../colors/colors';


@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

body{
  margin: 0;
  font-family: 'Raleway';
}

.container{
  max-width: 1060px;
  margin: 0 auto;
}

button{
  cursor: pointer;
}
//HEADER

.header{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 28px;
  
    .logo{
      display: inherit;
      align-items: center;

      .link_logo{
        text-decoration: none;
        font-size: 12px;
        line-height: 14px;
        color:#1C8EE1;
        padding-left: 8px;
      }
    }

    .ul_nav{
      display: flex;
      list-style: none;
      margin: 0;
      padding-left: 169px;
      gap: 64px;

      .link_nav{
        text-decoration: none;
        font-size: 14px;
        line-height: 16px;
        color: #64686C;

        &.active{
          font-weight: 700;
          color: #02121C;
        }
      }
    }
}

// MAIN

main{
  margin-bottom: 50px;
}

.title{
  margin: 40px 0 0 0 ;
  font-family: 'Raleway';
  font-weight: 900;
  font-size: 32px;
  line-height: 130%;

  color: #02121C;

}

.difficulty-level{
  display: flex;
  justify-content: space-between;
  margin-top: 18px;



  .level{
    border: none;
    padding: 0;
    height: 22px;
    width: 55px;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #64686C;
    background: transparent;

    .level-title{
      margin: 0;
    }

  }


  .level-hard-words{
    border: none;
    padding: 0;
    padding-left: auto;
    height: 22px;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #64686C;
    background: transparent;

    .level-title{
      margin: 0;
    }
  }

  .active{
    font-family: 'Raleway';
    font-weight: 900;
    font-size: 14px;
    line-height: 130%;
    color: #1C8EE1;
    border-bottom: 2px solid #1C8EE1;
  }
}

.textbook{
  display: flex;
  gap: 54px;
}

.card-wrapper{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  align-items: center;
  gap: 12px;
  margin-top: 29px;


  .card-word{
    animation-duration: 1s;
    animation-name: appear;

    display: flex;
    flex-direction: column;
    width: 152px;
    height: 80px;
    padding: 12px 0 0 12px;
    gap: 4px;
    border: none;
    border-radius: 6px;
    background: #FFFFFF;
    box-shadow: 1px 1px 6px rgba(2, 18, 28, 0.1);

    &:hover{
      background: #F5F5F5;
      border: 2px solid #05d8a3
    }

    &.active-0{
      background: #F5F5F5;
      border: 2px solid #5c798f
    }

    &.active-1{
      background: #F5F5F5;
      border: 2px solid #4FB5FF;
    }

    &.active-2{
      background: #F5F5F5;
      border: 2px solid #1C8EE1;
    }

    &.active-3{
      background: #F5F5F5;
      border: 2px solid #0162A8;
    }

    &.active-4{
      background: #F5F5F5;
      border: 2px solid #d907ec
    }

    &.active-5{
      background: #F5F5F5;
      border: 2px solid #ee05a8
    }

    &.active-hard-words{
      background: #F5F5F5;
      border: 2px solid #06c9fa
    }

    &.learned{
      background: #FFD89E;
    }

    &.hard{
      background: #FFBFBB;
    }

    .card-word-title{
      margin: 0;
      font-family: 'Raleway';
      font-weight: 700;
      font-size: 16px;
      line-height: 130%;
      color: #02121C;
    }

    .card-word-translate{
      font-family: 'Raleway';
      font-weight: 400;
      font-size: 12px;
      line-height: 130%;
      color: #02121C;

    }
  }
}

.side-bar{
  margin-top: 29px;

  .full-word{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;

    .audio-div{
      padding-right: 12px;
    }

    .play-button{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 24px;
      height: 24px;
      border: none;
      border-radius: 12px;
      background: #FFC46A;
    }

    .word-title{
      margin: 0;
      font-family: 'Raleway';
      font-weight: 700;
      font-size: 20px;
      line-height: 130%;
      color: #02121C;
    }

    .word-transcription{
      font-family: 'Raleway';
      font-weight: 400;
      font-size: 20px;
      line-height: 130%;
      color: #64686C;
    }
  }

  .word-subtitle{
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    margin: 0;
    padding-top: 4px;
    padding-left: 36px;
    color: #02121C;

  }

  .word-controls{
    display: flex;
    justify-content: space-between;
    gap: 12px;
    padding-top: 16px;

    .word-control{
      font-family: 'Raleway';
      font-weight: 700;
      font-size: 14px;
      line-height: 130%;
      color: #FFFFFF;

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 12px 25px;
      gap: 7px;
      border: none;
      border-radius: 22px;

    }

    .hard-word{
      background: #FF7168;
    }
    
    .learned-word{
      background: #FFA841;
    }

    .delete-word{
      background: #d606a2;
    }
  }

  .word-description{
    padding-top: 20px;

    h2{
      margin: 0;
      font-family: 'Raleway';
      font-weight: 700;
      font-size: 16px;
      line-height: 130%;
      color: #02121C;
    }

    .word-meaning{
      font-family: 'Raleway';
      font-style: italic;
      font-weight: 300;
      font-size: 14px;
      line-height: 130%;
      padding-top: 8px;
      color: #64686C;

      i{
        color:#02121C
      }
    }
    .word-meaning-translate{
      font-family: 'Raleway';
      font-size: 14px;
      line-height: 130%;
      padding-top: 4px;
      padding-bottom: 12px;
      color: #02121C;
    }

    .word-example{
      font-family: 'Raleway';
      font-style: italic;
      font-weight: 300;
      font-size: 14px;
      line-height: 130%;
      padding-top: 8px;
      color: #64686C;

      i{
        color:#02121C
      }
    }

    .word-example-translate{
      font-family: 'Raleway';
      font-size: 14px;
      line-height: 130%;
      padding-top: 4px;
      color: #02121C;
    }
  }

  .ingame-statistics{
    padding-top: 12px;

    h2{
      margin: 0;
      font-family: 'Raleway';
      font-weight: 700;
      font-size: 16px;
      line-height: 130%;
      color: #02121C;
    }
    .ingame{
      display: flex;
      justify-content: center;
      gap: 32px;
      padding-top: 8px;

      .ingame-statistic{
        display: flex;
        flex-direction: column;
        align-items: center;

        .game-name{
          font-family: 'Raleway';
          font-size: 14px;
          line-height: 130%;
          color: #02121C;
        }

        .game-statistic{
          padding-top: 4px;
          font-family: 'Raleway';
          font-weight: 700;
          font-size: 14px;
          line-height: 130%;
          text-align: center;
          color: #02121C;
        }
      }
    }
  }
}

.pagination{
  justify-content: center;
  gap: 20px;
  margin-top: 25px;

  .pagination-button{
    border-radius: 100%;
    background: #FFFFFF;
    box-shadow: 1px 1px 6px rgba(2, 18, 28, 0.1);
  }

  .completed{
    font-size: 20px;
    color: #d606a2;
  }
}

.game-links{
  display: flex;
  gap: 30px;
  padding-top: 40px;

  .game-link{
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #02121C;
  }

  .audio-call{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 243px;
    border-radius: 10px;
    background: #F0F3F8;

    .game-link-title{
      margin: 0;
      padding: 40px 0;
    }
  }

  .sprint{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 243px;
    border-radius: 10px;
    background: #F0F3F8;

    .game-link-title{
      margin: 0;
      padding: 40px 0;
    }
  }

}


.footer {
  background-color: $background-color;
  padding: 30px 0;
}

.rslogo_img {
    height: 40px;
    width: 100px;
    transition: 0.5s;
  }
  
  .rslogo_img:hover {
    transform: scale(1.5);
  }

.footer_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.our_repo {
  display: flex;
  align-items: center;
}

.ourrepo_img {
  transition: 0.5s;
}

.ourrepo_img:hover {
  transform: scale(1.3);
}

.ourrepo_p {
  font-family: "Roboto";
  font-size: 1.2rem;
  text-transform: uppercase;
}

.year {
  font-family: "Roboto";
  font-size: 1.3rem;
}