
@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.textbook{
  display: flex;
}

.card-wrapper{
  width: 60%;
  max-width: 900px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.card-word{
  animation-duration: 1s;
  animation-name: appear;
}



.learned{
  color: purple
}

.hard{
  color: red;
}

.completed{
  border: 4px solid pink;
}